# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG and others
#
# SPDX-License-Identifier: Apache-2.0

version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    open-pull-requests-limit: 10
    rebase-strategy: "auto"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    rebase-strategy: "auto"
    schedule:
      interval: "daily"