# SPDX-FileCopyrightText: 2025 Deutsche Telekom AG and others
#
# SPDX-License-Identifier: Apache-2.0

name: CI

on:
  push:
    branches-ignore:
      - 'main'
  pull_request:
    branches:
      - main

jobs:
  CI:
    uses: eclipse-lmos/.github/.github/workflows/gradle-ci.yml@main
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    permissions:
      contents: read
  dependabot:
    uses: eclipse-lmos/.github/.github/workflows/dependabot-automerge.yml@main
    if: needs.CI.result == 'success'
    needs: CI
    permissions:
      contents: write
      pull-requests: write
